<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Components</title>
</head>
<body>
    <h1>React Components</h1>
    <ul>
        <li>Components are like functions that return HTML elements.</li>
    </ul>

    <h3>React Components</h3>
    <ul>
        <li>Components are independent and reusable bits of code.</li>
        <li>They serve the same purpose as JavaScript functions, <br>&nbsp;&nbsp;&nbsp;&nbsp; but work in isolation and return HTML.</li>
        <li>
            Components come in two types
            <ol>
                <li>Class components</li>
                <li>Function components</li>
            </ol>
            <li>In older React code bases, you may find Class components primarily used.</li>
            <li>it is now suggested to use Function components along with Hooks, which were added in React 16.8</li>
            <li>There is an optional section on Class components for your reference.</li>
        </li>
    </ul>
</body>
</html>